@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot? c5r0t9');
  src: url('./assets/fonts/tomorrow.eot?c5r0t9#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?c5r0t9') format('truetype'),
    url('./assets/fonts/tomorrow.woff?c5r0t9') format('woff'),
    url('./assets/fonts/tomorrow.svg?c5r0t9#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
